.cpn-btn {
    background: none;
    border: unset;
    font-size: 14px;
    height: 14px;

    cursor: pointer;
    padding: unset;
    font-family: Roboto;

    color: white;
    position: absolute;
    top: 3px;
    right: 3px;
    &--play {
        width: auto;
        height: auto;
        padding: 3.55px 9.14px;
        background-color: #FFDA18;

        font-size: 0.6rem;
        font-weight: 400;
        color: black;
        border-radius: 3px;
        position: static;
    }
}

@media screen and (min-width: 600px) {
    .cpn-btn {
        top: 11px;
        right: 19px;
        font-size: 3.6rem;
        &--play {
            width: auto;
            height: auto;
            padding: 11px 36px;
            font-size: 2.4rem;
        }
    }
}