.ctn-detail {
    &-avatar {
        width: 300px;
        height: 80px;
    }
    &-review {
        margin-top: 8px;
        width: auto;
        &-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;
            &-button {
                margin-left: 12px;
            } 
        }
    }
    &-overview {
        margin-top: 8px;
    }
}

@media screen and (min-width: 600px) {
    .ctn-detail {
        &-avatar {
            width: 200px;
            height: 300px;
        }
        &-review {
            position: absolute;
            left: 20%;
            top: 45%;
        }
        &-overview {
            margin-top: 30px;
        }
    }
}
