.cpn-rate {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    color: #B6B6B6;
    font-size: 0.9rem;
    line-height: 11px;  
    &-icon {
      color: #ffff00;
      margin-right: 3px;
    }
}

@media screen and (min-width: 600px) {
  .cpn-rate {
    font-size: 3.2rem;
    line-height: 37px;
  }
}