.cpn-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    font-family: Inter;
}

@media screen and (min-width: 600px) {
    .cpn-title {
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
    }
}