.cpn-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #a2aca6;
    font-family: Inter;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 5%;
}

@media screen and (min-width: 600px) {
    .cpn-title {
        font-size: 5rem;
        font-weight: 700;
        color: white;
        margin-left: 5%;
        margin-bottom: 2%;
        margin-top: 3%;
    }
}