.cpn-movie-name {
    width: auto;
    height: auto;

    position: absolute;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: none;
  
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9px;
    line-height: 11px;
  
    color: #B6B6B6;

    @media screen and (min-width: 600px) {
      .cpn-movie-name {
        font-size: 1.8px;
        line-height: 22px;
      }
  }
}