.cpn-heading {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    font-family: Inter;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    .cpn-heading {
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
    }
}