.cpn-movie-name {
    width: 175px;
    height: 25px;
    left: 751px;
    top: 1739px;
  
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: none;
  
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  
    color: #B6B6B6;
  }